  <!-- Footer -->
  <footer class="border-top py-4 ">
      <!-- Social Icons -->
      <div class="mb-5 mb-md-0 fs-3 d-flex justify-content-center gap-3">
        <a href="https://www.instagram.com/abhishek_gupta_432/" class="text-dark "><i class="fa-brands fa-facebook"></i></a>
        <a href="https://github.com/abhi-gupta18278" class="text-dark"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.instagram.com/abhishek_gupta_432/" class="text-dark"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/abhishek-gupta-developer/" class="text-dark"><i class="fa-brands fa-linkedin"></i></a>
      </div>

    <div class="container d-flex flex-coloum flex-md-row justify-content-center align-items-center">
      
      <!-- Language and Currency -->
      <div class="mb-3 mb-md-0 d-flex align-items-center gap-3">
        <span><i class="fas fa-globe"></i> English (IN)</span>
        <span>&#8377; INR</span>
      </div>
</div>

    <!-- Footer Links -->
    <div class="container mt-3">
      <div class="d-flex flex-wrap  justify-content-center gap-3 small text-muted">
        <a href="#" class="text-muted text-decoration-none">Privacy</a>
        <span>·</span>
        <a href="#" class="text-muted text-decoration-none">Terms</a>
        <span>·</span>
        <a href="#" class="text-muted text-decoration-none">Company details</a>
      </div>
    </div>
    <!-- Copyright -->
    <div class="text-muted small mb-3 mb-md-0 d-flex justify-content-center align-items-center gap-3">
        &copy; 2025 Wanderlust Private Limited
      </div>
  </footer>